$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../icomoon/fonts" !default;

$icm-envelope: "\e900";
$icm-facebook: "\e901";
$icm-idea: "\e902";
$icm-instagram: "\e903";
$icm-left-arrow-min: "\e904";
$icm-online-payment: "\e905";
$icm-pantone: "\e906";
$icm-phone-call: "\e907";
$icm-placeholder: "\e908";
$icm-sale: "\e909";
$icm-telegram: "\e90a";
$icm-value: "\e90b";
$icm-award: "\e90c";
$icm-contract: "\e90d";
$icm-delivery-truck: "\e90e";

